node_modules
.DS_Store
dist
*.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local

.turbo
.eslintcache

**/.react-router/
**/build/
source.generated.ts

.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.templates